{% extends 'base.html.twig' %}
{% block body %}
	<h1>TP Blog de Kamel</h1>
	<img src="http://www.darioargentoproject.com/wp-content/uploads/2018/09/Comment-commencer-un-blog.jpg" alt="">
{% endblock %}
