{% extends "base.html.twig" %}
{% block body %}
            <article>
                <div class="content">
                    <h2>Titre de l'article</h2>
                    <img src="https://via.placeholder.com/350x150" alt="">
                    <p>test 1</p>
                    <p>test 2</p>
                </div>
                <hr>
                <p>Test3</p>
            </article>
{% endblock %}